@tailwind base;
@tailwind components;
@tailwind utilities;
/* .circle1 {
  stroke: #b63e96 !important;
  stroke-width: 4 !important;
  transform-origin: 75px 50px !important;
  fill: none !important;
} */
